body{
  background: #101435 !important;
}

*{
  color: white !important;
} 

.footer-pic{
  background-image: url(Images/footer.webp) !important;
  object-fit: cover !important;
  background-image: linear-gradient(0deg,rgba(var(#101435cc), .8) 0%, rgba(var(#101435cc), .8) 50%) !important;
}

.header-pic{
  background-image: url(Images/Header.webp) !important;
  object-fit: cover !important;
}