body{
    background: #101435 !important;
}
*{
    color: white !important;
}
Button {
  position: relative !important;
  overflow: hidden !important;
  height: 3rem !important;
  padding: 0 2rem !important;
  border-radius: 1.5rem !important;
  background: #3d3a4e !important;
  background-size: 400% !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
}

Button:hover::before {
  transform: scaleX(1) !important;
}

Button{
  position: relative !important;
  z-index: 1 !important;
}

Button::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  transform: scaleX(0) !important;
  transform-origin: 0 50% !important;
  width: 100% !important;
  height: inherit !important;
  border-radius: inherit !important;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  ) !important;
  transition: all 0.475s !important;
}
